:root {
    // --admin-sidebar-color: #f2eae0;
    //admin
    --admin-sidebar-color: #fff;
    --admin-header-width: 70px;
    --text-secondary-color: #9e9ea7;

    //client
    --layout-color: #e8a286;
    --background: rgba(31, 31, 31, 1);
    --background-second: rgba(47, 47, 47, 1);
    --background-third: rgba(63, 63, 63, 1);
    --background-fourth: rgba(26, 26, 26, 1);
    --header-width: 100px;
    --layout-width: 90%;
    --btn-color: rgb(225 29 72);
}

* {
    margin: 0;
    font-family: "Candara" !important;
}

body {
    font-family: "Candara" !important;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}
/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(229, 231, 235);
    border-radius: 5px;
}

.ant-modal-content {
    background: var(--background) !important;
}

.ant-input-affix-wrapper {
    border-width: 0px !important;
    border-style: none !important;
}

.ant-modal-header {
    background: var(--background) !important;
}

.ant-modal-title {
    font-size: 2rem !important;
    color: #fff !important;
}

.slick-initialized .slick-slide {
    position: relative !important;
}

.slick-dots li button::before {
    font-size: 9px !important;
    color: var(--background-third) !important;
}

.slick-dots li.slick-active button:before {
    color: var(--btn-color) !important;
}

.ant-select-item {
    background-color: var(--background-fourth) !important;
    color: #fff !important;
}
.ant-select-dropdown {
    background-color: var(--background-fourth) !important;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
        .ant-pagination-size-changer
    ):hover
    .ant-select-selector {
    border-color: var(--btn-color) !important;
}
.ant-select-focused .ant-select-selector {
    border-color: var(--btn-color) !important;
}
