.wrapper {
    display: none;
    .send {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 15px;
        gap: 2px;
        button {
            background: #000;
            border: none;
            padding: 5px;
            border-radius: 8px;
            cursor: pointer;
            svg {
                height: 20px;
                width: 20px;
                color: #fff;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        & button:nth-child(2) {
            background: transparent;
        }
    }
}
.open {
    display: block;
}
