.item {
          ul {
                    padding: 0;
                    display: flex;
                    gap: 30px;
                    flex-wrap: wrap;
                    margin: 10px 0 20px;
                    li {
                              font-size: 1.2rem;
                              list-style: none;
                              text-transform: capitalize;
                    }
          }
          .title {
                    font-size: 2rem;
                    margin-bottom: 20px;
          }
          border-bottom: 2px solid var(--background-third);
}